/* Stylesheet should be located at [[MediaWiki:Gadget-afchelper.css]] */

span.notice {
  color: red;
  font-size: 120%;
}

div#afcHelper_betanotice {
  font-style: italic;
}

button {
  border-radius: 3px;
  -moz-border-radius: 3px; /* Firefox compatibility */
}

button:hover {
  border-radius: 2px;
  -moz-border-radius: 2px; /* Firefox compatibility */
}

#afcHelper_accept_button {
  background-color: #adfcad;
}
#afcHelper_decline_button, button.decline {
  background-color: #ffcdd5;
}

#afcHelper_comment_button, button.comment {
  background-color: #f3eba3;
}

#afcHelper_submit_button {
  background-color: #66ccff;
}

#afcHelper_draft_button {
  background-color: #4aa02c;
}

#afcHelper_unmark_button, #afcHelper_mark_button, button.mark {
  background-color: #b1dae8;
}

#afcHelper_cleanup_button {
  background-color: #d2d3cc;
}

#afcHelper_g13_button {
  background-color: #ff3333;
}

#afcHelper_prompt_button {
  background-color: #adfcad;
}
